exos/TPSolution/tpWcfCalculPrixTvaClient/Connected Services/Calcul/CalculeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64285/CalculeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/tpWcfCalculPrixTvaServiceTVA" />
  <xs:element name="Calcule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantite" type="xs:int" />
        <xs:element minOccurs="0" name="article" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prix" type="xs:double" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/tpWcfCalculPrixTvaServiceTVA" minOccurs="0" name="categorie" type="q1:TVAService.ETVA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>