exos/TPSolution/tpWcfCalculPrixTvaService/Connected Services/CalculeTVA/TVAService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64289/TVAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/tpWcfCalculPrixTvaServiceTVA" />
  <xs:element name="CalculTVA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prixTTC" type="xs:double" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/tpWcfCalculPrixTvaServiceTVA" minOccurs="0" name="cat" type="q1:TVAService.ETVA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculTVAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculTVAResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>