cours/SolutionsCours/ConsoleAppEmploye/Connected Services/NSEmploye/SrvEmploye.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Employes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Employes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employe" nillable="true" type="tns:Employe" />
</xs:schema>