exos/tpWindowsEtWcfAsync/WindowsFormsApp1/Connected Services/NS1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPrixTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantite" type="xs:int" />
        <xs:element minOccurs="0" name="prix" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrixTotalResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixTotalHT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prixTotalTTC" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrixTotalHTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrixTotalHTResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>