cours/SolutionsCours/WCFClientPersonne/Connected Services/NSServicePersonne/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64773/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" minOccurs="0" name="GetPersonneResult" nillable="true" type="q1:Personne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" minOccurs="0" name="p" nillable="true" type="q2:Personne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" minOccurs="0" name="UpdateResult" nillable="true" type="q3:Personne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonneParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonneParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" minOccurs="0" name="GetPersonneParamResult" nillable="true" type="q4:Personne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPersonne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPersonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicePersonne.Model" minOccurs="0" name="GetListPersonneResult" nillable="true" type="q5:ArrayOfPersonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>