exos/tpWcfAccesBase/Client/Connected Services/Articles/ServiceArticle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceArticle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28481/ServiceArticle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28481/ServiceArticle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28481/ServiceArticle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Articles" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceArticle_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_SelectByRef_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRef" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_SelectByRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRefResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceArticle">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/Insert" message="tns:IServiceArticle_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/InsertResponse" message="tns:IServiceArticle_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/SelectAll" message="tns:IServiceArticle_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/SelectAllResponse" message="tns:IServiceArticle_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRef">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/SelectByRef" message="tns:IServiceArticle_SelectByRef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/SelectByRefResponse" message="tns:IServiceArticle_SelectByRef_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceArticle" type="tns:IServiceArticle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRef">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/SelectByRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArticle">
    <wsdl:port name="BasicHttpBinding_IServiceArticle" binding="tns:BasicHttpBinding_IServiceArticle">
      <soap:address location="http://localhost:28481/ServiceArticle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>